body{
 background-color: rgba(0,0,0,.6);
}
.img{
    height:100vh;
    width: 100%;
    background:url(../image/img2.jpg);
    /*background: url('../images/header.jpg') no-repeat center center; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-size: contain; */
    background-repeat: no-repeat;
    position: relative;
}

.block{
    height: 100px;
    width: 100%;
}

.bg-light{
    background-color:transparent!important;
    
    
}

.section1{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;

}

.navbar-brand{
    color: white!important;
    font-size: 24px;
    font-family: serif;
}

.nav-link{
    color:white!important;
    font-weight: 400;
    font-size: 22px;
}

.nav-link:hover{
    background-color: rgba(0,0,0,.6);

}

/* about */
.about{
    background-color: rgb(19, 8, 19);
    color: white;


}

.about h2{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color:maroon;
    border-bottom: 3px solid yellow;
}

.abt-cont{
    padding: 20px;
    font-size: 20px;
    font-family: serif;
    margin-bottom: 20px;
}



/* toogle icons */
.navbar-toggler-icon{
    background-color:rgba(139,35,38,.5);

    border: inset 2px maroon;
    width: 40px;
    height: 40px;

    padding: 5px;
    border-radius: 8px;
}

@media only screen and (max-width: 540px){
    .img{
        background-image: url(img1.jpg)
        background-size: contain;
        width: 100%;
        height:auto ;
    }
}