body{

}

.row{
    margin-left: 0;
    margin-right: 0;
}

/* logo */
.w-100{
    height: 100vh;
}

/* nav-logo */
.bg-light{
    position: fixed;
    top:0;
    z-index: 999;
    width: 100%;
     background-color:rgba(255, 255, 255, 0.836)!important; 
    /*background-color: transparent!important;*/
    
    
}

.img{
    height:100vh;
    width: 100%;
    background:url(../image/img2.jpg);
    /*background: url('../images/header.jpg') no-repeat center center; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-size: contain;*/
    background-repeat: no-repeat;
    position: relative;
}

.img1{
        
      
    width: 100%;
    background:url(../image/ig4.jpg);
    /*background: url('../images/header.jpg') no-repeat center center; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
    /* background-size: contain;*/
      background-repeat: no-repeat;
     /*background-attachment: fixed;*/
      background-position: center;
      background-repeat: no-repeat;
      /*position: relative;*/
     
}


#gallery{
    background-color: #190817;
}


.block{
    height: 100px;
    width: 100%;
}






.navbar-brand{
 
    color:black!important:;

    font-size: 26px;
    
    font-family: sarif;
    
    font-weight: bold;
}

.nav-link{
    color:white!important;
    color:rgba(44, 9, 9, 0.801)!important;
    font-weight: 500;
    font-size: 24px;
}

.nav-link:hover{
    background-color: rgba(0,0,0,.6);
    color:white!important;

}

/* about */
#about{
    background-color: rgb(19, 8, 19);
    color: white;
    /* background:url(../image/balloon.jpg); */
    
    /*background: url('../images/header.jpg') no-repeat center center; */
    /* -webkit-background-size: cover; */
    /* -moz-background-size: cover; */
    /* -o-background-size: cover; */
    /* background-size: cover; */
    /* background-size: contain; */
    /* background-repeat: no-repeat; */


}

#about h2{
    font-family: 'Dancing Script', cursive;
    font-size: 55px;
    font-weight: bold;
    color:white;
    border-bottom: 3px solid yellow;
}

.abt-cont{
    

    padding: 20px;
    font-size: 26px;
    font-family: serif;
    
    /* background: rgba(184, 102, 102, 0.6); */
}



/* toogle icons */
.navbar-toggler-icon{
    background-color:rgba(139,35,38,.5);

    border: inset 2px maroon;
    width: 40px;
    height: 40px;

    padding: 5px;
    border-radius: 8px;
}

/* contact *******************/

.text-contant{
    font-family: 'Courgette', cursive;
   
}

#contact{
    color: white;
    background:url(../image/contact.jpg);
    /*background: url('../images/header.jpg') no-repeat center center; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-size: contain; */
    background-repeat: no-repeat;

    
}
.scrol-2{
    padding-top: 40px;
}

.links{
    cursor: pointer;
    font-size: 20px;
    padding-left: 10px;
    padding-bottom: 4px;

}
 
.pk{
    background-color: rgba(255,255,255,.5);
    background-color:   #D3D3D3;
    /*background-color: rgba(0, 0, 0, 0.607)*/
    background-color: rgba(211,211,211,.4);
   
}

.showcase-left{
    /*background-color: rgba(255,255,255,.5);*/
    border-radius: 15px;
    padding: 10px;
}

/* footer */
.footer-copyright{
    padding-top: 10px;
    width:100%;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.807);    
}

.footer-link{
    text-decoration: none;
    color:white;

    font-weight: 500; 
}

/* events */
#events{
     /*background:rgba(128, 0, 0, 0.589); */
     /*position:absolute;*/
   background-color: rgba(0,0,0,.6);
    color: white;
   width: 100%;
  /*/ height: 410px;*/
  

}
.event-list{
    padding-bottom:5px;
    font-size: 24px;
    font-weight: 400; 
   
}

.logo{
    width:300px;
    height: auto;
    z-index:999;
    position: absolute;
    margin-left: 20px;
    margin-top: 10px;

}

/*gallery*/
.gall{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: white;
    text-decoration: underline;
    color: white;
}
@media only screen and (max-width: 768px){
        .img1{
        height: 78vh;
    }
}


@media only screen and (max-width: 540px){
    .img{
        background-image: url(img1.jpg)
        height:auto;
        width: 100%;
      
    }

    .w-100{
        height: 50vh;
    }

    .links{
        padding-bottom: 7px;
    }

    .logo{
        display: none;
    }
   
   .gall{
    font-size: 30px;
   }
   
   .pk{
    /*background-color: rgba(255,255,255,.5);*/
    background-color:   #D3D3D3;
    /*background-color: rgba(0, 0, 0, 0.607)*/
    /*background-color: rgba(211,211,211,.4);*/
   
}

  #contact{
    color:black;
  }

  .lead{
    color: white;
  }

}

